* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies__item {
    max-height: 500px;
    max-width: 300px;
}
.movies__image {
    width: 100%;
}

.movies__title {
    font-family: sans-serif;
    font-size: 2rem;
}